{{/*  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">  */}}

{{/*  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">  */}}
<link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | absURL }}" rel="stylesheet" />

{{/*  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />  */}}
<link href="{{ "vendor/nes-style/css/nes.min.css" | absURL }}" rel="stylesheet" />

{{ $css := resources.Match "scss/**.scss" | resources.Concat "css/bundle.scss" | resources.ExecuteAsTemplate "css/bundle.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
