<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">
{{ end }}

{{ if .IsHome }}

  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  {{ end }}

  {{ with .Site.Params.keywords }}
  <meta name="keywords" content="{{ . }}">
  {{ end }}

{{ else }}
  
  <meta name="description" content="{{ if .Page.Description }}{{ .Page.Description }}{{ else }}{{ .Page.Summary }}{{ end }}">
  <meta name="keywords" content="{{ .Page.Keywords }}">

{{ end }}
