@use "_variables";

@font-face {
  font-family:"Press Start 2P";
  src: url("/vendor/PressStart2P/font/PressStart2P-Regular.ttf") format("truetype");
}

body {
  margin-top: 200px;
  margin-bottom: 100px;
}

.bg-image {
  background: url($background_image) center no-repeat fixed;
  background-size: cover;
}
