{{ with .Page }}
  {{/*  <div class="nes-balloon from-right nes-pointer">
    <a class="link-primary" href="{{ .Permalink | absLangURL }}">
      <h2>{{ .Title }}</h2>
    </a>

    <small class="text-muted">
      {{ .Date.Format (.Site.Params.dateFormat | default "Jan 2, 2006") }} | {{ T "reading_time" .ReadingTime }}
    </small>

    <p>
      {{ .Summary }}
    </p>

    <div class="text-end">
      <a class="link-primary" href="{{ .Permalink | absLangURL }}">{{ T "read_more" . }}</a>
    </div>
  </div>  */}}
{{ end }}
